/* Colors */
$color-active: #69b42e;
$color-text: #000000;
$color-secondary-text: #666666;
$color-reversed: #ffffff;
$color-bg-primary: #212121;
$color-bg-tertiary: #f8f8f8;
$color-bg-additional: #575757;
$color-bg-additional-secondary: #1a1a1a;
$color-bg-disabled: #a6a6a6;
$color-border: #cccccc;
$color-border-secondary: #edf6e6;
$color_border-tertiary: #4d4d4d;
$color-error: #d02224;
$color-disabled-text: #b3b3b3;
$color-active-hover: #5fa229;


/* Viewports */
$vp-319: 319px;
$vp-479: 479px;
$vp-767: 767px;
$vp-1279: 1279px;
$vp-1919: 1919px;
