.main {
  background-image:
    image-set(
      url("../../images/matrix-1920@1x.webp") 1x type("image/webp"),
      url("../../images/matrix-1920@2x.webp") 2x type("image/webp"),
      url("../../images/matrix-1920@1x.png") 1x type("image/png"),
      url("../../images/matrix-1920@2x.png") 2x type("image/png")
    );
  background-repeat: no-repeat;
  background-size: 100% 1080px;
  mix-blend-mode: lighten;
  background-blend-mode: normal, normal, hue, normal;

  @media (max-width: $vp-1279) {
    background-image:
      linear-gradient(180deg,
      rgba(26, 26, 26, 0) 85%,
      $color-bg-additional-secondary 100%),
      radial-gradient(57.86% 58.15% at 50% 50%,
      $color-text 31.95%,
      rgba(0, 0, 0, 0) 100%),
      image-set(
        url("../../images/matrix-768@1x.webp") 1x type("image/webp"),
        url("../../images/matrix-768@2x.webp") 2x type("image/webp"),
        url("../../images/matrix-768@1x.png") 1x type("image/png"),
        url("../../images/matrix-768@2x.png") 2x type("image/png")
      );
  }

  @media (max-width: $vp-767) {
    padding: 48px 0;
    background-image:
      linear-gradient(180deg,
      rgba(26, 26, 26, 0) 85%,
      $color-bg-additional-secondary 100%),
      radial-gradient(57.86% 58.15% at 50% 50%,
      $color-text 31.95%,
      rgba(0, 0, 0, 0) 100%),
      image-set(
        url("../../images/matrix-480@1x.webp") 1x type("image/webp"),
        url("../../images/matrix-480@2x.webp") 2x type("image/webp"),
        url("../../images/matrix-480@1x.png") 1x type("image/png"),
        url("../../images/matrix-480@2x.png") 2x type("image/png")
      );
  }

  @media (max-width: $vp-479) {
    padding: 40px 0;
    background-image:
      linear-gradient(180deg,
      rgba(26, 26, 26, 0) 85%,
      $color-bg-additional-secondary 100%),
      radial-gradient(57.86% 58.15% at 50% 50%,
      $color-text 31.95%,
      rgba(0, 0, 0, 0) 100%),
      image-set(
        url("../../images/matrix-320@1x.webp") 1x type("image/webp"),
        url("../../images/matrix-320@2x.webp") 2x type("image/webp"),
        url("../../images/matrix-320@1x.png") 1x type("image/png"),
        url("../../images/matrix-320@2x.png") 2x type("image/png")
      );
  }
}

.main__wrapper {
  padding: 64px 0;
  margin: 0 auto;
  background:
    url("../../icons/radial1.svg"),
    url("../../icons/radial2.svg"),
    linear-gradient(180deg,
    rgba(26, 26, 26, 0) 85%,
    $color-text 100%),
    radial-gradient(57.86% 58.15% at 50% 50%,
    $color-bg-additional-secondary 31.95%,
    rgba(0, 0, 0, 0) 100%);

  background-size:
    902px 851px,
    902px 851px,
    100% 100%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: calc(50% - 189px) 269px, calc(50% + 142px) 426px, center bottom;

  @media (max-width: $vp-1279) {
    background-position: calc(50% - 189px) 379px, calc(50% + 142px) 426px, center bottom;
  }
}

.main__inner {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;

  max-width: 805px;

  @media (max-width: $vp-1279) {
    max-width: 568px;
  }

  @media (max-width: $vp-767) {
    max-width: 448px;
    gap: 48px;
  }

  @media (max-width: $vp-479) {
    max-width: 296px;
    gap: 40px;
  }
}
