@import "../common/mixins.scss";

.registration {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
  max-width: 668px;

  @media (max-width: $vp-767) {
    gap: 24px;
  }
}

.registration__title {
  @include font-additional;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  color: $color-reversed;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.15);

  @media (max-width: $vp-767) {
    font-size: 18px;
    line-height: 22px;
  }
}

.registration__form {
  display: flex;
  flex-direction: column;
  padding: 48px 64px;
  gap: 32px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: $color-reversed;

  @media (max-width: $vp-767) {
    padding: 40px 24px;
  }
}

.registration__fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 16px;
  width: 100%;
}

.registration__input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.registration__input {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;

  padding: 10px 12px;
  border: 1px solid $color-border;
  border-radius: 5px;
  cursor: pointer;

  @include transition;

  &--not-empty {
    border: 1px solid $color-text;
  }

  &--error {
    border: 1px solid $color-error;
  }

  &:hover {
    border: 1px solid $color-bg-primary;
  }

  &:focus {
    outline: none;
    border: 1px solid $color-bg-primary;
  }
}

.registration__label {
  font-size: 14px;
  line-height: 14px;
  color: $color-secondary-text;
}

.registration__error {
  font-size: 14px;
  line-height: 18px;
  color: $color-error;
}


.registration__note {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 18px;
  color: $color-disabled-text;

  @media (max-width: $vp-479) {
    font-size: 13px;
  }
}

.registration__agreement {
  position: relative;
  display: block;
  padding-left: 24px;
  font-size: 14px;
  line-height: 18px;

  color: $color-text;
  cursor: pointer;
}

.registration__agreement-link {
  text-decoration: underline;
}

.registration__checkbox-icon {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid $color-disabled-text;
  border-radius: 5px;
  box-sizing: border-box;

  @include transition;
}

.registration__checkbox:checked + .registration__checkbox-icon {
  background-color: $color-active;
  border: 1px solid $color-active;
  background-image: url("../../icons/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 7px;
}

.registration__checkbox:focus + .registration__checkbox-icon {
  border: 1px solid $color-text;
}

.registration__notification {
  padding: 16px 24px;
  background: $color-bg-tertiary;
  border: 1px solid $color-error;
  border-radius: 10px;

  font-size: 14px;
  line-height: 18px;
  color: $color-text;
}

.registration__form-wrapper {
  position: relative;
}

.registration__popup {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 10;
  background-color: rgba(33, 33, 33, 0.2);
}

.registration__popup-inner {
  display: flex;
  flex-direction: column;
  gap: 32px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 568px;
  padding: 64px 48px 48px;
  box-sizing: border-box;

  text-align: center;
  color: $color-text;
  background-color: $color-reversed;
  box-shadow: 0 2px 32px rgba(128, 128, 128, 0.15);
  border-radius: 15px;


  @media (max-width: $vp-767) {
    width: 80%;
  }
}

.registration__popup-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.registration__popup-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.registration__popup-text {
  font-size: 18px;
  line-height: 24px;
}

.registration__popup-close {
  position: absolute;
  width: 56px;
  height: 64px;
  top: 0;
  right: 0;
  background-color: $color-reversed;
  border-radius: 15px;
  border: none;
  background-image: url("../../icons/cross.svg");
  background-position: center center;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.registration__popup-buttons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
